@import 'compass';
@import '../bootstrap-sass/bootstrap.scss';

$primary-bg-color: #437686;
$primary-fg-color: #DDD;
$secondary-bg-color: #EEE;
$secondary-fg-color: #AAA;
$tertiary-bg-color: #DDD;
$tertiary-fg-color: #DDD;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 10)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 3.125)) !default; // ~50px
$font-size-h2:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h3:            ceil(($font-size-base * 1.625)) !default; // ~26px

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
  
body {
  background-color: $tertiary-bg-color;
}

.row {
  padding-top: 50px;
} 

/* Search box */
.search {
  background-color: $primary-bg-color;
  
  .search-inner {
    padding: 15px;
  }
  
  h1 {
    color: $primary-fg-color;
    text-align: left;
    font-family: 'Bangers', cursive;
  }
  
  .input-group {
    width: 100%;
  }
  
  .bootstrap-tagsinput {
    width: 100%;
  }
}

.results {
  padding-top: 15px;
}

/* Search result */
.result {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 3px solid $secondary-fg-color; 
  min-height: 500px;
  background-color: $secondary-bg-color;
  @include border-radius(5px); 
  
  .media {
    width: 100%;
    padding-bottom: 15px;
    
    img {
      width: 100%;
    }
  }
  
  .media-body {
    padding: 0px 15px;
  }
  
  label {
    margin-bottom: 0px;
  }
  
  .label-info {
    background-color: #437686;
  }
  
  .returned-tag {
    margin: 0px 2px 2px 0px;
    float: left;
  }
}
 
div.to-top {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: darken($primary-bg-color, 10%);
  color: $primary-fg-color;
  font-family: 'Bangers', cursive;
  font-size: 24px;
  padding: 10px 20px;
}
  
div.show-top {
  visibility:visible;
  opacity: 1.0;
  cursor: pointer;
}